* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
}

.content-container{
    display: flex;
    flex-direction: row;
    color: #373737;
    height: 90vh; 
}

.header{
    background-color: navy;
    padding: .3em 1.7em;
    height: 10%;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
}

.navigation {
    background: lightblue;
    color: blue;
}
.navigation h3 {
    color: navy;
}

.navigation ul,ul, .settings ul {
    list-style: none;
    padding-left: 0;
    line-height: 30px;
    width: fit-content;
}
.navigation ul li,li, .settings ul li{
    margin: none;
    cursor: pointer;
    padding: none;
}
.navigation ul li a,a, .settings ul li a{
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}
.menu {
    display: none;
}

.news header{
    background-color: blue;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}
.news header ul{
    border-bottom: 1px solid #808080;
}
.news{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: navy;
}
.news header .little-nav ul{
    width: 100%;
    text-align: center;
} 
.news header li{
    display: inline;
    margin-left: 5px;
    color:white;
    font-weight: 600;
}
.settings{
    width: fit-content;
    min-width: 200px;
    position: sticky;
    top: 0;
    margin: 3px;
}

.subscribe{
    margin: 0 auto;
    text-align: center;
    bottom: 42px;
    right: 25px;
    position: fixed;
}
.subscribe button{
    background-color: #8a1111;
    display: block;
    margin: auto;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #8a1111;
    z-index: 1;
}
.subscribe button:hover{
    background-color: red;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 5px;
    margin-top: -10px;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.articles figure{
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 3px;
    padding: 10px; 
}
.articles figure img{
    width:95%;
    text-align: center;
    height: 190px;
    margin: auto    ;
    padding: 2px;
    display: block;
}
.articles figure .views, .articles figure .view {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    color: red;
    background: white;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
}
.articles figure .stars, .articles figure .star {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    color: red;
    background: white;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
}
.articles figure a{
    color: yellow;
    font-weight: bold;
    font-size: small;
}
.articles figure article{
    font-weight: 300;
    font-size: small;
    color: white;
    margin-top: 8px;
}

.subscribe-newsletters input[type="email"]{
    display: block;
    padding: 10px;
    font-size: 15px;
    background: white;
    outline: none;
    border: none;
    width: 90%;
    border-radius: 15px;
    margin: 10px 0;
}
.subscribe-newsletters input[type="email"]:focus {
    border: 2px solid red;
}
.subscribe-newsletters{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.subscribe-newsletters .s-exp{
    background-color: rgba(204, 204, 204);
    width: 95%;
    max-width: 400px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
}
.subscribe-newsletters .s-exp div.cancel{
    float: right;
    clear: both;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    background: grey;
    text-align: center;
}
.subscribe-newsletters .s-exp div {
    margin-bottom: 20px;
}
.subscribe-newsletters .s-exp label{
    font-size: 15px;
}
.subscribe-newsletters .s-exp button{
    background-color: #8a1111;
    border: 1px solid #8a1111;
    color: white;
    width:70%;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    font-size: large;
    border-radius: 20px;

}
.container .header span,.settings h3 span{
    display: none;
    text-align: end;
    float: right;
}

.content-container  .navigation input{
    display: none;
}
.active {
    border-bottom: 2px solid white;
}
.update {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.text-wrap {
    display: block ;
    white-space:nowrap ;
    width: fit-content ;
    animation: text-wrap 20s linear infinite ;
    position: relative;
}

@keyframes text-wrap {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.hide {
    display: none;
}